/*INDEX*/
.Principal2 img {
  display: flex;
  justify-content: center;
  width: 100%;

  }
  h1 {
    color:$main-color;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
    /* padding: 10px;*/
  }
  h2 {
    color:$main-color;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
    /* padding: 10px;*/
  }


/*COACHS*/
.coach {
  display: flex;
  justify-content: center;
}
.entre {
  display: flex;
  justify-content: center;
}
.entre-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  padding: 2%;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.juntos {
  display: flex;
  justify-content: center;
  justify-content: center;
  img {
    width: 30%;
    height: 360px;
    object-fit: cover;
  }
}

/*ClASES IMA*/
.class {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  justify-content: center;
}
.item-fotos {
    @include flex(wrap,center,flex-start);
    padding: 2%;
    img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
/*blog*/
.hero {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  img {
    display: flex;
    width: 49%;
    padding: 50px;
    height: 450px;
    object-fit: cover;
    border-radius: 10%;
  }
  & iframe {
    display: inline-block;
    width: 49%;
    padding: 50px;
    border-radius: 10%;
  }
}


.hero_conten {
  display: inline-block;
  width: 49%;
  padding: 50px;
  position: static;
  h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
  }
   p {
    font-size: 15px;
  font-weight: bold;
  margin: 20px 0;
} 
       & a {
       color: $main-color;
       font-size: 1rem;
       text-decoration: none;
  } 
  
}
   




/*boostrap*/
.carousel-inner {
  height: 900px;
}
.carousel-item {
  height: 900px;
  img {
    height: 900px;
    object-fit: cover;
  }
  
}
 

.bg-body-tertiar{
    border-radius: 5%;
}
