@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*Estilos generales*/
/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: $ligth-color;
  font-family: "Poppins", sans-serif;
}
header {
  position: static;
  top: 0%;
  background-color: black;
}
.animacion {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #eee;
}
.caja {
  width: 90%;
  height: 237px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  animation-name: animantion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
  transform:translateX(0);
  img {
    width: 24%;
  }
  & body {
    padding: 10px;
  }
 
  
}

@keyframes animacion {
  0% {
    transform:translateX(-150%);
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}
